* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header .high-row {
  padding: 5px;
  background-color: #0282f9;
  display: flex;
  text-align: right;
}

header .high-row .text {
  margin: auto;
  width: 80%;
  color: white;
}

header .high-row .text span {
  margin-left: 20px;
}

header .container {
  text-align: center;
}

header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

header .container .menu {
  list-style-type: none;
}

header .container .menu li {
  display: inline-block;
  margin: 0 20px;
}

header .container .menu li a {
  text-transform: uppercase;
  color: black;
}

header .container .menu li a.active {
  color: #0282f9;
  border-bottom: 5px solid;
  padding-bottom: 60px;
}

header .banner {
  background-image: url("/../img/jumbotron.jpg");
  min-height: 400px;
}

.wrapper {
  background-color: #1c1c1c;
}

.wrapper .products {
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
}

.wrapper .products .product {
  width: calc(100% / 6);
  padding-top: 30px;
}

.wrapper .products .product h3 {
  width: 192px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
}

.wrapper .btn-container {
  text-align: center;
  padding: 25px;
}

.wrapper .btn-container a {
  padding: 10px 40px;
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
}

.main-navbar {
  background-color: #0282f9;
}

.main-navbar .buy-comics {
  display: flex;
  justify-content: center;
}

.main-navbar .buy-comics .menu li {
  display: inline-block;
}

.main-navbar .buy-comics .menu li img {
  vertical-align: middle;
}

.main-navbar .buy-comics .menu li a {
  text-transform: uppercase;
  color: white;
}

