// Home Page
.wrapper {
    background-color: $color_secondary;

    .container {
        position: relative;
    }
    
    .products {
        display: flex;
        flex-wrap: wrap;
        padding: 35px;

        .product {
            width: calc(100% / 7);
            padding-top: 30px;
            margin: 0px 15px;

            h3 {
                width: 192px;
                color: white;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 400;
                padding: 20px 0;
            }
        }
    }

    .btn-container {
        text-align: center;
        padding: 35px;

        a {
            padding: 10px 40px;
            background-color: $color_primary;
            color: white;
            text-transform: uppercase;
        }

        &.pos-ab {
            position: absolute;
            bottom: 96%;
            left: 0;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.main-navbar {
    background-color: $color_primary;

    .buy-comics {
        text-align: center;

        .menu {

            li {
                display: inline-block;

                img {
                    vertical-align: middle;
                    width: 40%;
                    padding: 20px;
                }

                a {
                    text-transform: uppercase;
                    color: white;
                }
            }
        }
    }
}

// Single Comic Page
.wrapper-page {

    .container {
        position: relative;
    }

    .blue-row {
        height: 60px;
        background-color: $color_primary;
    }

    .description {
        display: flex;
        padding: 20px;

        .description-inner {
            display: inline-block;
            flex: 1;
            margin-right: 10%;

            h2 {
                text-transform: uppercase;
                padding: 20px 0;
                color: #003f5e;
            }

            .price {
                display: flex;
                justify-content: space-between;
                background-color: #55ba59;
                padding: 15px 45px;
                margin: 20px 0;

                h3 {
                    font-size: 14px;
                    color: #bafd93;

                    span {
                        color: white;
                    }
                }

                .check {
                    color: white;
                }
            }

            p {
                padding: 20px 0;
                font-size: 18px;
            }
        }

    }

    .pos-ab {
        position: absolute;
        bottom: 105%;
        left: 0;

        img {
            border: 1px solid white;
        }
    }

    .details {
        background-color: #f6f6f6;
        border-top: 1px solid #d8d8d8;

        .flex {
            display: flex;
            padding: 20px 0;

            .inner-flex {
                flex: 1;
                color: #003f5e;

                .guys {
                    display: inline-block;
                }
            }
        }
    }
}